table {
  width: 60%;
  border: 1px solid black;
  border-collapse: collapsed;
  table-layout: fixed;
}

th, td {
  border: 1px solid black;
  border-collapse: collapsed;
  text-align: center;
}

#disclaimer_text {
  width: 70%;
}

/** Tooltip source: https://www.webfx.com/blog/web-design/css-only-tooltips/ */
.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000;
  outline: none;
  cursor: help;
  text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:hover span {
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: fixed;
  left: 15%;
  top: 4em;
  z-index: 99;
  margin-left: 0;
  width: 70%;
}
.tooltip:hover img {
  border: 0;
  left: 15%;
  margin: -10px 0 0 -20px;
  position: fixed;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic {
  padding: 0.8em 1em;
 }
.custom {
  padding: 0.3em 0.8em 0.8em 1.5em;
 }
* html a:hover {
  background: transparent;
 }
.classic {
  background: #FFFFAA;
  border: 1px solid #FFAD33;
 }
.critical {
  background: #FFCCAA;
  border: 1px solid #FF3334;
 }
.help {
  background: #9FDAEE;
  border: 1px solid #2BB0D7;
 }
.info {
  background: #9FDAEE;
  border: 1px solid #2BB0D7;
 }
.warning {
  background: #FFFFAA;
  border: 1px solid #FFAD33;
 }