{% extends "base.html" %}
    {% include "loading.html" %}
	{% block bodycontent %}
		{% include "searchbox.html" %}
    {% include "meaning.html" %}
    {% include "moat.html" %}
    {% include "management.html" %}
    {% include "margin_of_safety.html" %}
    {% include "payback_time.html" %}
    {% include "ten_cap.html" %}
    {% include "market_cap.html" %}
    <script>
      // Initialize all popover elements for the Bootstrap plugin.
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover({ trigger: "hover" });
      });
    </script>
	{% endblock %}
