<div class="container pb-2 pt-2" id="Ten Cap">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="10 Cap"
        data-content="{% include 'txt/ten_cap_tooltip.txt' %}"
    >10 Cap</button>
  </div>

    <div class="row pt-3 justify-content-center">
    <div class="col-sm-5">
      <table class="table table-bordered text-center">
        <tr id="debt_equity_title_label">
          <thead class="thead-light">
            <th>10 Cap Price</th>
          </thead>
          <td id="ten_cap_price">
            -
          </td>
        </tr>
      </table>
    </div>
</div>
