<div id="page-footer">
  <section id="disclaimer" class="wrapper style2 special">
    <div class="inner">
      <header>
        <h2>Disclaimer</h2>
      </header>
      <p align="left">
        <i>
          This site is intended for personal investing use and should be used at
          your own discretion. There are never any guarantees in investing, so
          please use your best judgement when researching stocks to invest in.
          This site is simply one tool that may help you in your investment
          decisions. The calculations on this site are derived from the
          <a target="_blank" href="https://www.amazon.com/gp/product/0307336840?pf_rd_p=c2945051-950f-485c-b4df-15aac5223b10&pf_rd_r=5QRSSH16W7Y0QSRVDSF1">Rule #1</a>
          investing book by Phil Town. I highly recommend reading that book
          before interpreting any of the metrics calculated on this site. Also,
          for the sake of transparency, this entire site is open source on
          GitHub. Feel free to dig into the code yourself if you have any
          questions regarding the exact calculations used.
        </i>
      </p>
    </div>
  </section>

  <footer id="footer">
	  <center>
      <p>
        Powered by Google App Engine &nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <a target="_blank" href="https://github.com/mrhappyasthma/IsThisStockGood">Github Repo</a>
        <br>
        &copy; 2018-{{current_year}}. HappyAsthma Inc. All Rights Reserved.
	    </p>
    </center>

    <!-- Scripts -->
    <script src="../js/jquery.min.js"></script>
	  <script src="../js/skel.min.js"></script>
	  <script src="../js/util.js"></script>
	  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	  <script src="../js/main.js"></script>
  </footer>
</div>