<section id="Management">
  <h2>
    <center>
      <a class="tooltip">
        Management
        <span class="custom help" style="top: 8em;">
          <img src="/img/Help.png" alt="Information" height="48" width="48" />
          <em style="text-align:left">Management</em>
          <p style="text-align:left">{% include "txt/management_tooltip.txt" %}</p>
        </span>
      </a>
    </center>
  </h2>
  <center>
    <div id="debt">
      <table>
        <tr id="debt_title_labels">
          <th>
            Long term debt
          </th>
          <th>
            Free cash flow
          </th>
          <th>
            Years to pay off debt
          </th>
        </tr>
        <tr>
          <td id="long_term_debt">
            -
          </td>
          <td id="free_cash_flow">
            -
          </td>
          <td id="debt_payoff_time">
            -
          </td>
        </tr>
      </table>
      <br>
      <table>
        <tr id="debt_equity_title_label">
          <th>
            Debt-to-Equity Ratio (Most recent quarter)
          </th>
          <td id="debt_equity_ratio">
            -
          </td>
        </tr>
      </table>
    </div>
  </center>
</section>