<div class="container pb-2 pt-2" id="Margin of Safety">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="Margin of Safety"
        data-content="{% include 'txt/margin_of_safety_tooltip.txt' %}"
    >Margin of Safety</button>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr id="margin_of_safety_title_label">
            <th>Sticker Price</th>
          </tr>
        </thead>
        <tr id="margin_of_safety_prices">
          <td id="sticker_price">
            -
          </td>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr id="margin_of_safety_title_label">
            <th>Margin of Safety price</th>
          </tr>
        </thead>
        <tr id="margin_of_safety_prices">
          <td id="margin_of_safety_price">
            -
          </td>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered text-center">
        <tr id="current_price_title_label">
          <thead class="thead-light">
            <th>Current Price</th>
          </thead>
          <td id="current_price">
            -
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>