<section id="Margin of Safety">
  <h2>
    <center>
      <a class="tooltip">
        Margin of Safety
        <span class="custom help" style="top: 10em;">
          <img src="/img/Help.png" alt="Information" height="48" width="48" />
          <em style="text-align:left">Margin of Safety</em>
          <p style="text-align:left">{% include "txt/margin_of_safety_tooltip.txt" %}</p>
        </span>
      </a>
    </center>
  </h2>
  <center>
  <div id="big_five">
    <table>
      <tr id="big_five_title_labels">
        <th colspan="4">
          ROIC Growth Rate
        </th>
        <th colspan="4">
          Equity/BVPS Growth Rate
        </th>
        <th colspan="4">
          EPS Growth Rate
        </th>
        <th colspan="4">
          Sales/Revenue Growth Rate
        </th>
        <th colspan="4">
          Free Cash Flow Growth Rate
        </th>
      </tr>

      <tr id="time_span_labels">
        <th id="roic_max">
          Max
        </th>
        <th>
          5
        </th>
        <th>
          3
        </th>
        <th>
          1
        </th>
        <th id="equity_max">
          Max
        </th>
        <th>
          5
        </th>
        <th>
          3
        </th>
        <th>
          1
        </th>
        <th id="eps_max">
          Max
        </th>
        <th>
          5
        </th>
        <th>
          3
        </th>
        <th>
          1
        </th>
        <th id="sales_max">
          Max
        </th>
        <th>
          5
        </th>
        <th>
          3
        </th>
        <th>
          1
        </th>
        <th id="cash_max">
          Max
        </th>
        <th>
          5
        </th>
        <th>
          3
        </th>
        <th>
          1
        </th>
      </tr>

       <tr id="big_five_data">
        <td id="roic_max_val">
          -
        </td>
        <td id="roic_5_val">
          -
        </td>
        <td id="roic_3_val">
          -
        </td>
        <td  id="roic_1_val">
          -
        </td>
        <td id="equity_max_val">
          -
        </td>
        <td id="equity_5_val">
          -
        </td>
        <td id="equity_3_val">
          -
        </td>
        <td id="equity_1_val">
          -
        </td>
        <td id="eps_max_val">
          -
        </td>
        <td id="eps_5_val">
          -
        </td>
        <td id="eps_3_val">
          -
        </td>
        <td id="eps_1_val">
          -
        </td>
        <td id="sales_max_val">
          -
        </td>
        <td id="sales_5_val">
          -
        </td>
        <td id="sales_3_val">
          -
        </td>
        <td id="sales_1_val">
          -
        </td>
        <td id="cash_max_val">
          -
        </td>
        <td id="cash_5_val">
          -
        </td>
        <td id="cash_3_val">
          -
        </td>
        <td id="cash_1_val">
          -
        </td>
      </tr>
    </table>
  </div>
  </center>
</section>