<div class="container pb-2 pt-2" id="Market Cap">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="Market Cap"
        data-content="{% include 'txt/market_cap_tooltip.txt' %}"
    >Market Cap</button>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr id="average_volume_title_label">
            <th>Average Volume</th>
          </tr>
        </thead>
        <tr id="average_volume_value">
          <td id="average_volume">
            -
          </td>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr id="shares_to_hold_title_label">
            <th>Max Shares to Hold</th>
          </tr>
        </thead>
        <tr id="shares_to_hold_value">
          <td id="shares_to_hold">
            -
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>