<div class="container pt-2" id="Moat">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="Moat"
        data-content="{% include 'txt/moat_tooltip.txt' %}"
    >Moat</button>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr>
            <th colspan="4">ROIC (%)</th>
          <tr>
        </thead>

        <tr>
          <th id="roic_max">Max</th>
          <th>5 year</th>
          <th>3 year</th>
          <th>1 year</th>
        </tr>

        <tr>
          <td id="roic_max_val">-</td>
          <td id="roic_5_val">-</td>
          <td id="roic_3_val">-</td>
          <td  id="roic_1_val">-</td>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr>
            <th colspan="4">Equity/BVPS Growth Rate (%)</th>
          <tr>
        </thead>

        <tr>
          <th id="equity_max">Max</th>
          <th>5 year</th>
          <th>3 year</th>
          <th>1 year</th>
        </tr>

        <tr>
          <td id="equity_max_val">-</td>
          <td id="equity_5_val">-</td>
          <td id="equity_3_val">-</td>
          <td id="equity_1_val">-</td>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr>
            <th colspan="4">EPS Growth Rate (%)</th>
          <tr>
        </thead>

        <tr>
          <th id="eps_max">Max</th>
          <th>5 year</th>
          <th>3 year</th>
          <th>1 year</th>
        </tr>

        <tr>
          <td id="eps_max_val">-</td>
          <td id="eps_5_val">-</td>
          <td id="eps_3_val">-</td>
          <td id="eps_1_val">-</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr>
            <th colspan="4">Sales/Revenue Growth Rate (%)</th>
          <tr>
        </thead>

        <tr>
          <th id="sales_max">Max</th>
          <th>5 year</th>
          <th>3 year</th>
          <th>1 year</th>
        </tr>

        <tr>
          <td id="sales_max_val">-</td>
          <td id="sales_5_val">-</td>
          <td id="sales_3_val">-</td>
          <td id="sales_1_val">-</td>
        </tr>
      </table>
    </div>

    <div class="col">
      <table class="table table-bordered text-center">
        <thead class="thead-light">
          <tr>
            <th colspan="4">Free Cash Flow Growth Rate (%)</th>
          <tr>
        </thead>

        <tr>
          <th id="cash_max">Max</th>
          <th>5 year</th>
          <th>3 year</th>
          <th>1 year</th>
        </tr>

        <tr>
          <td id="cash_max_val">-</td>
          <td id="cash_5_val">-</td>
          <td id="cash_3_val">-</td>
          <td id="cash_1_val">-</td>
        </tr>
      </table>
    </div>
  </div>
</div>