<div class="container pt-4" "id="searchbox">
  <form id="searchboxform" action="/search" method="post">
    <div class="form-group row justify-content-center">
      <div class="col-md-3 nopadding">
        <input
            type="text"
            class="form-control"
            id="ticker"
            placeholder="Ticker Symbol"
            maxlength=5
            onkeydown="return validateInput(event)"/>
      </div>
      <div class="col-md-1 nopadding">
        <input
            type="submit"
            value="Analyze"
            class="btn btn-raised btn-md btn-warning"
        >
      </div>
    </div>
  </form>
</div>

<script>
document.querySelector("#ticker").addEventListener("keypress", (event) => {
  let key = event.key;
  if (!key.match(/[A-Za-z,.\-]/)) {
      event.preventDefault();
    }
});
</script>

<script>
  {% include "js/search.js" %}
</script>